body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  background-image: url("bg.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image2 {
  background-image: url("pas2.jpg");
  background-color: #cccccc;
  height: 400px;
  width: 300px;
  left: 40%;
  top: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.wrap {
  background-color: rgba(255, 255, 255, 0.7);
  width: 800px;
  color: black;
  margin: 200px auto;
  padding: 15px;
}
