<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in message">
                <br>
                <button @click = "seeTask()">+</button>
                <br>
                <b>{{ item.komentar }} || {{item.date}} || Like : {{item.like}} </b>
                <br>
                <button>-</button>
                <br>
            </li>
        </ul>
        <input type="text" placeholder="tambah pekerjaan" v-model:value="newTask" />
        <button @click="addTask">Add</button>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data : {
                newTask: "",
        message: [
            {komentar: "Komentar 1", date : "27/02/2020", like : 0},
            {komentar: "Komentar 2", date : "27/02/2020", like : 0},
            {komentar: "Komentar 3", date : "27/02/2020", like : 0},
        ]
            },
            methods : {
                addTask: function(){
              this.message.push({'komentar': this.newTask, date : "27/02/2020"});
              this.newTask = "";
          },
                seeTask:function(number){
                   number = number++ 
                }
            }
        })
    </script>
</body>
</html>